/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.add-task-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
select,
button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.task-container {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-container {
    margin-right: 10px;
}

.task-description {
    flex-grow: 1;
    margin-right: 10px;
}

.edit-button {
    background-color: #008CBA;
    color: white;
}

.edit-button:hover {
    background-color: #005F79;
}
